/* aubergine: #503750 */
/* salmon: #f573a0 */

* {
  box-sizing: border-box;
}

h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.inline * {
  display: inline-block;
}

.spacer {
  margin-right: 15px;
}

.space-after {
  margin-bottom: 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f573a0;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Sliders */

.ui-widget-header {
  background: #503750;
  border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  border: 2px solid #503750;
  background: #f573a0;
  outline: none;
  cursor: pointer;
  border-radius: 1.2em;
}

.ui-widget.ui-widget-content {
  border: 1px solid #503750;
}

.radio input[type="radio"]:checked ~ .control-indicator,
.radio input[type="radio"]:checked:active ~ .control-indicator,
.radio input[type="radio"]:checked:focus ~ .control-indicator,
.radio-inline input[type="radio"]:checked ~ .control-indicator,
.radio-inline input[type="radio"]:checked:active ~ .control-indicator,
.radio-inline input[type="radio"]:checked:focus ~ .control-indicator,
.checkbox input[type="checkbox"]:checked ~ .control-indicator,
.checkbox input[type="checkbox"]:checked:active ~ .control-indicator,
.checkbox input[type="checkbox"]:checked:focus ~ .control-indicator,
.checkbox-inline input[type="checkbox"]:checked ~ .control-indicator,
.checkbox-inline input[type="checkbox"]:checked:active ~ .control-indicator,
.checkbox-inline input[type="checkbox"]:checked:focus ~ .control-indicator {
  background-color: #f573a0;
  border-color: #f573a0;
}

/* UI */

#notice {
  width: 80%;
}

.nelson {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2vw;
}

.nelson > div {
  border-radius: 10px;
}

.nelson .body {
  width: 90%;
  padding: 30px;
  border: 1px #ccc solid;
}

#current-user, #current-playback {
  color: #f573a0;
  margin-right: 20px;
}

.modal-dialog {
  width: 80%;
}

#genres-list {
  text-align: center;
}

#genres-list .btn {
  margin: 5px;  
}

#tracks {
  width: 90%;
  height: 30%;
  overflow-y: scroll;
  border: 1px #ccc solid;
  padding: 20px;
}

.track-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px 0;
}

.track-element > div {
  display: inherit;
}

.track-element:hover {
  background-color: #eee;
}

.current-track {
  background-color: #f573a0;
}

.current-track a {
  color: white;
}

.current-track:hover {
  background-color: #f573a0;
}

.album-art {
  width: 100;
  height: 100;
  margin: 0 20px;
}

.remove-icon {
  width: 30px;
  height: 30px;
  align-self: center;
  margin: 20px;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f573a0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;
  color: white;
  font-size: 12px;
  z-index: 100;
}

.floating-button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}


/* Dark mode */

#darkmode-button {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  background: #f573a0;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: cover;
}

.darkmode,
.darkmode .modal-content {
  background-color: #222;
  color: white;
}

.darkmode .track-element:hover {
  background-color: #333;
}
